**Read Inventory**

In [2]:
import json

fd = open("record.json",'r')
r = fd.read()
fd.close()

records = json.loads(r)

In [31]:
records

{'1001': {'name': 'Choco Cake', 'pr': 100, 'qn': 32},
 '1002': {'name': 'Milk Cake', 'pr': 800, 'qn': 100},
 '1003': {'name': 'Drink', 'pr': 85, 'qn': 100},
 '1004': {'name': 'Candy', 'pr': 5, 'qn': 1000},
 '1005': {'name': 'Pen', 'pr': 20, 'qn': 100},
 '1006': {'name': 'Phone', 'pr': 50000, 'qn': 10},
 '1007': {'name': 'Game', 'pr': 2999, 'qn': 2},
 '1008': {'name': 'Case', 'pr': 599, 'qn': 5},
 '1009': {'name': 'Keyboard', 'pr': 1999, 'qn': 10},
 '1010': {'name': 'cycle', 'pr': 1999, 'qn': 5},
 '1011': {'name': 'pen', 'pr': 1999, 'qn': 10},
 '1012': {'name': 'book', 'pr': 19949, 'qn': 101},
 '1013': {'name': 'bag', 'pr': 999, 'qn': 14},
 '1014': {'name': 'pencil', 'pr': 1999, 'qn': 15},
 '1015': {'name': 'car', 'pr': 19969, 'qn': 120},
 '1016': {'name': 'Keyboard', 'pr': 99, 'qn': 34},
 '1017': {'name': 'torch', 'pr': 1999, 'qn': 17},
 '1018': {'name': 'cream', 'pr': 195699, 'qn': 130},
 '1019': {'name': 'Keyboard', 'pr': 1799, 'qn': 56},
 '1020': {'name': 'fish', 'pr': 19, 'qn': 40},
 '1021': {'name': 'cup', 'pr': 19449, 'qn': 1},
 '1022': {'name': 'shoes', 'pr': 1999, 'qn': 13},
 '1023': {'name': 'ipod', 'pr': 1969, 'qn': 60},
 '1024': {'name': 'Keyboard', 'pr': 1969, 'qn': 140},
 '1025': {'name': 'cream', 'pr': 1999, 'qn': 144},
 '1026': {'name': 'psp', 'pr': 1999, 'qn': 70},
 '1027': {'name': 'Keyboard', 'pr': 199, 'qn': 15},
 '1028': {'name': 'mobile', 'pr': 1999, 'qn': 120},
 '1029': {'name': 'bike', 'pr': 1999, 'qn': 330},
 '1030': {'name': 'camera', 'pr': 1959, 'qn': 22},
 '1031': {'name': 'doremon', 'pr': 1000000, 'qn': 1}}

**Purchase**

In [89]:
ui_prod  = str(input("Enter the product_Id: "))
ui_quant = int(input("Enter the quantity: "))


print("Product: ", records[ui_prod]['name'])
print("Price: ", records[ui_prod]['pr'])
print("Billing Amount: ", records[ui_prod]['pr'] * ui_quant)

records[ui_prod]['qn'] = records[ui_prod]['qn'] - ui_quant

Enter the product_Id: 1027
Enter the quantity: 2
Product:  Keyboard
Price:  199
Billing Amount:  398

In [90]:
records

{'1001': {'name': 'Choco Cake', 'pr': 100, 'qn': 32},
 '1002': {'name': 'Milk Cake', 'pr': 800, 'qn': 100},
 '1003': {'name': 'Drink', 'pr': 85, 'qn': 100},
 '1004': {'name': 'Candy', 'pr': 5, 'qn': 1000},
 '1005': {'name': 'Pen', 'pr': 20, 'qn': 100},
 '1006': {'name': 'Phone', 'pr': 50000, 'qn': 10},
 '1007': {'name': 'Game', 'pr': 2999, 'qn': 2},
 '1008': {'name': 'Case', 'pr': 599, 'qn': 5},
 '1009': {'name': 'Keyboard', 'pr': 1999, 'qn': 10},
 '1010': {'name': 'cycle', 'pr': 1999, 'qn': 5},
 '1011': {'name': 'pen', 'pr': 1999, 'qn': 8},
 '1012': {'name': 'book', 'pr': 19949, 'qn': 101},
 '1013': {'name': 'bag', 'pr': 999, 'qn': 14},
 '1014': {'name': 'pencil', 'pr': 1999, 'qn': 15},
 '1015': {'name': 'car', 'pr': 19969, 'qn': 120},
 '1016': {'name': 'Keyboard', 'pr': 99, 'qn': 34},
 '1017': {'name': 'torch', 'pr': 1999, 'qn': 17},
 '1018': {'name': 'cream', 'pr': 195699, 'qn': 130},
 '1019': {'name': 'Keyboard', 'pr': 1799, 'qn': 56},
 '1020': {'name': 'fish', 'pr': 19, 'qn': 40},
 '1021': {'name': 'cup', 'pr': 19449, 'qn': 1},
 '1022': {'name': 'shoes', 'pr': 1999, 'qn': 12},
 '1023': {'name': 'ipod', 'pr': 1969, 'qn': 60},
 '1024': {'name': 'Keyboard', 'pr': 1969, 'qn': 137},
 '1025': {'name': 'cream', 'pr': 1999, 'qn': 141},
 '1026': {'name': 'psp', 'pr': 1999, 'qn': 70},
 '1027': {'name': 'Keyboard', 'pr': 199, 'qn': 13},
 '1028': {'name': 'mobile', 'pr': 1999, 'qn': 120},
 '1029': {'name': 'bike', 'pr': 1999, 'qn': 329},
 '1030': {'name': 'camera', 'pr': 1959, 'qn': 2},
 '1031': {'name': 'doremon', 'pr': 1000000, 'qn': 1}}

**Update Inventory after purchase**

In [91]:
js = json.dumps(records)

fd = open("record.json",'w')
fd.write(js)
fd.close()

**Sales JSON**

In [92]:
sales[len(sales) + 1] = {'prod' : ui_prod, 'qn' : ui_quant, 'amount': records[ui_prod]['pr'] * ui_quant}

In [93]:
sales

{1: {'amount': 9995, 'prod': '1010', 'qn': 5},
 2: {'amount': 9995, 'prod': '1010', 'qn': 5},
 3: {'amount': 39180, 'prod': '1030', 'qn': 20},
 4: {'amount': 3938, 'prod': '1024', 'qn': 2},
 5: {'amount': 1969, 'prod': '1024', 'qn': 1},
 6: {'amount': 1999, 'prod': '1029', 'qn': 1},
 7: {'amount': 3998, 'prod': '1011', 'qn': 2},
 8: {'amount': 1999, 'prod': '1022', 'qn': 1},
 9: {'amount': 5997, 'prod': '1025', 'qn': 3},
 10: {'amount': 398, 'prod': '1027', 'qn': 2}}

In [94]:
sale = json.dumps(sales)

In [95]:
fd = open("sales.json",'w')
fd.write(sale)
fd.close()

In [96]:
sales

{1: {'amount': 9995, 'prod': '1010', 'qn': 5},
 2: {'amount': 9995, 'prod': '1010', 'qn': 5},
 3: {'amount': 39180, 'prod': '1030', 'qn': 20},
 4: {'amount': 3938, 'prod': '1024', 'qn': 2},
 5: {'amount': 1969, 'prod': '1024', 'qn': 1},
 6: {'amount': 1999, 'prod': '1029', 'qn': 1},
 7: {'amount': 3998, 'prod': '1011', 'qn': 2},
 8: {'amount': 1999, 'prod': '1022', 'qn': 1},
 9: {'amount': 5997, 'prod': '1025', 'qn': 3},
 10: {'amount': 398, 'prod': '1027', 'qn': 2}}